# Chave da Steam Web API (https://steamcommunity.com/dev/apikey)
STEAM_API_KEY=

# SteamID64 do usuário (https://steamid.io/ para converter vanity URL)
STEAM_ID64=

# Chave da API do GG.deals (https://gg.deals/api/)
GG_DEALS_API_KEY=
